<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>com.maximpuchkov.services.Committer</string>
	<key>ProgramArguments</key>
	<array>
		<string>/usr/local/bin/Committer</string>
	</array>
	<key>RunAtLoad</key>
	<false/>
	<key>StartCalendarInterval</key>
	<array>
		<dict>
			<key>Weekday</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>Weekday</key>
			<integer>3</integer>
		</dict>
	</array>
	<key>WorkingDirectory</key>
	<string>/usr/local/Terminal</string>
	<key>StandardOutPath</key>
	<string>var/log/com.maximpuchkov.services/Committer.log</string>
	<key>StandardErrorPath</key>
	<string>var/log/com.maximpuchkov.services/Committer.log</string>
</dict>
</plist>
