<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>com.maximpuchkov.services.SystemAppearance</string>
	<key>ProgramArguments</key>
	<array>
		<string>/usr/local/bin/system-appearance-service</string>
	</array>
	<key>RunAtLoad</key>
	<true/>
	<key>StartCalendarInterval</key>
	<array>
		<dict>
			<key>Hour</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>Hour</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>Hour</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>Hour</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>Hour</key>
			<integer>4</integer>
		</dict>
		<dict>
			<key>Hour</key>
			<integer>5</integer>
		</dict>
		<dict>
			<key>Hour</key>
			<integer>6</integer>
		</dict>
		<dict>
			<key>Hour</key>
			<integer>7</integer>
		</dict>
		<dict>
			<key>Hour</key>
			<integer>8</integer>
		</dict>
		<dict>
			<key>Hour</key>
			<integer>9</integer>
		</dict>
		<dict>
			<key>Hour</key>
			<integer>10</integer>
		</dict>
		<dict>
			<key>Hour</key>
			<integer>11</integer>
		</dict>
		<dict>
			<key>Hour</key>
			<integer>12</integer>
		</dict>
		<dict>
			<key>Hour</key>
			<integer>13</integer>
		</dict>
		<dict>
			<key>Hour</key>
			<integer>14</integer>
		</dict>
		<dict>
			<key>Hour</key>
			<integer>15</integer>
		</dict>
		<dict>
			<key>Hour</key>
			<integer>16</integer>
		</dict>
		<dict>
			<key>Hour</key>
			<integer>17</integer>
		</dict>
		<dict>
			<key>Hour</key>
			<integer>18</integer>
		</dict>
		<dict>
			<key>Hour</key>
			<integer>19</integer>
		</dict>
		<dict>
			<key>Hour</key>
			<integer>20</integer>
		</dict>
		<dict>
			<key>Hour</key>
			<integer>21</integer>
		</dict>
		<dict>
			<key>Hour</key>
			<integer>22</integer>
		</dict>
		<dict>
			<key>Hour</key>
			<integer>23</integer>
		</dict>
	</array>
	<key>WorkingDirectory</key>
	<string>/usr/local/Terminal</string>
	<key>StandardOutPath</key>
	<string>var/log/com.maximpuchkov.services/SystemAppearance.log</string>
	<key>StandardErrorPath</key>
	<string>var/log/com.maximpuchkov.services/SystemAppearance.log</string>
</dict>
</plist>
