<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>com.maximpuchkov.services.SystemAppearance</string>
	<key>ProgramArguments</key>
	<array>
		<string>zsh</string>
		<string>-c</string>
		<string>/usr/local/bin/system-appearance-service</string>
	</array>
	<key>RunAtLoad</key>
	<true/>
	<key>StartCalendarInterval</key>
	<array>
		<dict>
			<key>Minute</key>
			<string>00</string>
		</dict>
	</array>
	<key>WorkingDirectory</key>
	<string>/usr/local/Terminal/etc/SystemAppearance</string>
	<key>StandardOutPath</key>
	<string>../../Logs/com.maximpuchkov.services.SystemAppearance.log</string>
	<key>StandardErrorPath</key>
	<string>../../Logs/com.maximpuchkov.services.SystemAppearance.log</string>
</dict>
</plist>
