.DS_Store


Library/Profiles/*
**/etc/*.id
**/var/*


**/.zcompdump*
**/*.zsh_history

**/.iterm2/*
**/.oh-my-zsh/*
**/.zsh_sessions/*



**/__pycache__/*
**/*.pyc


**/*.xcodeproj/*
**/*.xcworkspace/*




