.DS_Store

Library/Profiles

etc/commit*
etc/template*

**/__pycache__
**/*.pyc

**/*.xcodeproj/*
**/*.xcworkspace/*
**/var/

**/.iterm2*
**/.oh-my-zsh/
**/.zcompdump*
**/.zsh_sessions/
**/.zsh_history
