<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--
   com.maximpuchkov.services.Update.plist
   Services

   Created by Maxim Puchkov on 2020-04-30.
   Copyright (c) 2020 Maxim Puchkov. All rights reserved.
-->
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>com.maximpuchkov.services.Update</string>
	<key>ProgramArguments</key>
	<array>
		<string>zsh</string>
		<string>-c</string>
		<string>/usr/local/bin/update-service</string>
	</array>
	<key>RunAtLoad</key>
	<false/>
	<key>StartCalendarInterval</key>
	<array>
		<dict>
			<key>Weekday</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>WorkingDirectory</key>
	<string>/usr/local/Terminal</string>
	<key>StandardOutPath</key>
	<string>var/log/com.maximpuchkov.services/Update.log</string>
	<key>StandardErrorPath</key>
	<string>var/log/com.maximpuchkov.services/Update.log</string>
</dict>
</plist>
